div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}


div#obj485 {
position: absolute;
overflow: hidden;
top: -16px;
left: -33px;
width: 1987px;
height: 992px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj485_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1987px;
	height: 992px;
}
div#obj2231 {
position: absolute;
overflow: hidden;
top: 21px;
left: 501px;
width: 918px;
height: 918px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj2231_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 918px;
	height: 918px;
}
div#obj589 {
position: absolute;
overflow: hidden;
top: 57px;
left: 590px;
width: 779px;
height: 769px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj589_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 779px;
	height: 769px;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
}
div#obj595 {
position: absolute;
overflow: hidden;
top: 421px;
left: 586px;
width: 506px;
height: 58px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj595_img {
	position: absolute;
	left: 0px;
	top: 9px;
	width: 506px;
	height: 39px;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
}
div#obj678 {
position: absolute;
overflow: hidden;
top: 21px;
left: 530px;
width: 54px;
height: 918px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj678_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 54px;
	height: 918px;
}




div#obj4934 {
position: absolute;
overflow: hidden;
top: 851px;
left: 583px;
width: 140px;
height: 43px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
div#obj4934 .translated {
	position: absolute;
	top: 0px;
	left: 140px;
	width: 100%;
	height: 100%;
}









body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
:link { color: #0A52A2; }
:visited { color: #5B2599; }
/* Start of default CSS Styles */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }
/* End of default CSS Styles */
.SCPage {
background-color: #FFFFFF
}
