div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}



div#obj1952 {
position: absolute;
overflow: hidden;
top: 348px;
left: 1309px;
width: 55px;
height: 52px;
opacity: 1;
z-index: 1;
display:none;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj1952_content {
}
div#obj1954 {
position: absolute;
overflow: hidden;
top: 640px;
left: 1313px;
width: 232px;
height: 120px;
opacity: 1;
z-index: 2;
display:none;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj1954_content {
}
div#obj2025 {
position: absolute;
overflow: hidden;
top: 286px;
left: 1344px;
width: 515px;
height: 61px;
opacity: 1;
z-index: 3;
display:none;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj2025_content {
}
div#obj2029 {
position: absolute;
overflow: hidden;
top: 346px;
left: 1344px;
width: 515px;
height: 52px;
opacity: 1;
z-index: 4;
display:none;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj2029_content {
}
div#obj2031 {
position: absolute;
overflow: hidden;
top: 402px;
left: 1344px;
width: 515px;
height: 57px;
opacity: 1;
z-index: 5;
display:none;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj2031_content {
}
div#obj2033 {
position: absolute;
overflow: hidden;
top: 459px;
left: 1344px;
width: 515px;
height: 52px;
opacity: 1;
z-index: 6;
display:none;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj2033_content {
}
div#obj2035 {
position: absolute;
overflow: hidden;
top: 510px;
left: 1344px;
width: 515px;
height: 68px;
opacity: 1;
z-index: 7;
display:none;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj2035_content {
}
div#obj2037 {
position: absolute;
overflow: hidden;
top: 571px;
left: 1344px;
width: 515px;
height: 52px;
opacity: 1;
z-index: 8;
display:none;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj2037_content {
}
div#obj4560 {
position: absolute;
overflow: hidden;
top: 287px;
left: 1309px;
width: 55px;
height: 53px;
opacity: 1;
z-index: 9;
display:none;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4560_content {
}
div#obj4562 {
position: absolute;
overflow: hidden;
top: 405px;
left: 1309px;
width: 55px;
height: 61px;
opacity: 1;
z-index: 10;
display:none;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4562_content {
}
div#obj4564 {
position: absolute;
overflow: hidden;
top: 462px;
left: 1309px;
width: 55px;
height: 55px;
opacity: 1;
z-index: 11;
display:none;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4564_content {
}
div#obj4566 {
position: absolute;
overflow: hidden;
top: 512px;
left: 1309px;
width: 55px;
height: 55px;
opacity: 1;
z-index: 12;
display:none;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4566_content {
}
div#obj4568 {
position: absolute;
overflow: hidden;
top: 571px;
left: 1309px;
width: 55px;
height: 60px;
opacity: 1;
z-index: 13;
display:none;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4568_content {
}
div#obj4585 {
position: absolute;
overflow: hidden;
top: 889px;
left: 1601px;
width: 337px;
height: 105px;
opacity: 1;
z-index: 14;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj4585_content {
}


div#obj5276 {
position: absolute;
overflow: hidden;
top: -76px;
left: -96px;
width: 2106px;
height: 1054px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
div#obj5276 .translated {
	position: absolute;
	top: 0px;
	left: 2106px;
	width: 100%;
	height: 100%;
}









body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
:link { color: #0A52A2; }
:visited { color: #5B2599; }
/* Start of default CSS Styles */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }
/* End of default CSS Styles */
.SCPage {
background-color: #FFFFFF
}
