div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}


div#obj1451 {
position: absolute;
overflow: hidden;
top: -9px;
left: -6px;
width: 1933px;
height: 990px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj1451_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1933px;
	height: 990px;
}

div#obj1453 {
position: absolute;
overflow: hidden;
top: 223px;
left: 189px;
width: 256px;
height: 33px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
color: #0098BD;
}
div#obj1453_content {
}
div#obj1455 {
position: absolute;
overflow: hidden;
top: 264px;
left: 189px;
width: 579px;
height: 530px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj1455_content {
}
div#obj1457 {
position: absolute;
overflow: hidden;
top: 264px;
left: 1145px;
width: 579px;
height: 530px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj1457_content {
}












body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
:link { color: #0A52A2; }
:visited { color: #5B2599; }
/* Start of default CSS Styles */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }
/* End of default CSS Styles */
.SCPage {
background-color: #FFFFFF
}
